<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.diabeatdis_android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".HealthWorkerMainActivity" />
        <activity android:name=".DoctorMainActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".PatientSelectorActivity" />
        <activity
            android:name=".DataEntrySelectorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PatientLookupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserLookupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceSettingActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PatientRegistrationActivity" />
        <activity android:name=".MessageDoctorActivity" />
        <activity
            android:name=".DataCollectionActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DataCollectionAfterActivity" />
        <activity android:name=".DataCollectionEmergencyActivity" />
        <activity android:name=".DownloadDataActivity" />
        <activity android:name=".PatientSummaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:screenOrientation="landscape"
        </activity>
        <activity android:name=".DeviceStatisticsActivity" />
        <activity android:name=".MainDataCollectionSimple" />
        <activity android:name=".ManageAccountActivity"></activity>
    </application>

</manifest>