<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.diabeatdis_android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:screenOrientation="landscape" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HealthWorkerMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoctorMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AdminMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PatientSelectorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataEntrySelectorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PatientLookupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserLookupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PatientRegistrationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MessageDoctorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataCollectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataCollectionAfterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataCollectionEmergencyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DownloadDataActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PatientSummaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:screenOrientation="landscape"
        </activity>
        <activity
            android:name=".DeviceStatisticsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainDataCollectionSimple"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ManageAccountActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>